{{#unless error}}
<div class="bg-light p-5 rounded mt-3">
    <h1>Editar</h1>
    <form action="/atualizar" method="post">
        <div class="row mt-5">
            <div class="col-md-5 mb-3">
                <label for="nome" class="form-label">ID</label>
                
                <input value="{{id}}"  type="hidden" class="form-control" id="id" name="id" >
                <label for="nome" class="form-label">Nome completo</label>
                <input type="hidden" value="{{nome}}" type='text' name="is">
                <input value="{{nome}}"  type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="col-md-5 mb-3">
                 <label for="Bloqueio" class="form-label">Bloqueado</label>
                 <input value="{{bloqueio}}" type="text" class="form-control" id="bloqueio" name="bloqueio" required>
            </div>
            <div class="col-md-2 mb-3">
                <button class="mt-3 p-3 w-100 btn btn-warning">Editar</button>
            </div>
        </div>
    </form>
  </div>
  {{else}}
  <div class="card bg-danger text-white">
    <div class="card-body">
        Houve um problema: {{problema}}
    </div>
  </div>
  {{/unless}}